@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(60, 58, 58);
}

.display {
    display: inline-block;
}

.navbar img {
    width: 50px;
    margin: 10px 20px 7px 20px;
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(219 13 13);
    position: sticky;
    top: 0;
}

.navbar ul {
    overflow: auto;
    margin-top: 0;
}

.navbar li {
    float: left;
    list-style: none;
    padding: 21.77px 14px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    border-bottom: 2px solid rgb(208, 208, 208);
}

.btn {
    float: right;
    margin: 18px 10px;
    padding: 6px 12px;
}

.navbar a {
    text-decoration: none;
}

#log {
    margin-right: 30px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#log:hover {
    border: 2px solid rgb(99, 241, 248);
    color: rgb(99, 241, 248);
    transition: 0.4s;
}

#sign {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#sign:hover {
    background-color: rgb(221, 220, 220);
    transition: 0.15s;
}
.cyznarro{
    background-color: aliceblue;
}
.cyznarro p{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    font-family: 'Baloo Bhai 2', cursive;
    background-color: white;
    border: 2px solid red;
    color: black;
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 50px;
}
.container p{
    font-size: 40px;
    text-align: center;
}
.form{
    margin: 20px 20px;
}
.fill{
    margin: 12px auto;
    font-size: 27px;
    width: 386px;
}

.fill label{
    margin-right: 6px;
}
.fill input{
    border: 2px solid rgb(219 13 13);
    padding: 5px;
}
.fill .text{
    width: 215px;
    font-size: 15px;
    padding: 4px 4px;
}
.fill #select{
    padding: 4px 4px;
    font-size: 15px;
    border: 2px solid rgb(219 13 13);
}
#submit{
    font-family: 'Baloo Bhai 2', cursive;
    background-color: white;
    width:108px;
}
#submit:hover{
    background-color: rgb(197, 205, 212);
}
#submit:active{
    background-color: rgb(157, 157, 157);
}
.box1{
    cursor: pointer;
    height: 309px;
    color: white;
    box-sizing: border-box;
    background-color: rgb(60, 58, 58)black;
    width: 25%;
    float: left;
    padding: 20px;
}
.box1:hover{
    background-color: rgb(219 13 13);
    color: black;
    transition: 0.3s;
}
.box2{
    cursor: pointer;
    height: 309px;
    color: white;
    box-sizing: border-box;
    background-color: rgb(60, 58, 58);
    width:25%;
    float: left;
    padding: 20px;
}
.box2:hover{
    background-color: white;
    color: rgb(219 13 13);
    transition: 0.3s;
}
.heading{
    font-size: 25px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.content{
    padding-top: 20px;
    text-align: justify;
}
